body {
    font-family: 'JetBrains Mono';
    background-color: rgb(241, 241, 241);
}

html {
    scroll-behavior: smooth;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    max-width: 900px;
    gap: 40px;
}

.box {
    border: 2px solid black;
    background-color: rgb(171, 214, 204);
    border-radius: 12px;
    border-color: rgb(140, 147, 150);
    padding: 15px;
    min-width: 200px;
    flex: 1;
}

.kopi {
    text-align: center;
}

.teks {
    font-size: 12px;
}


.foto {
    margin: auto;
    border: 3px solid black;
    border-width: 2px;
    border-radius: 10px;
    width: 8cm;
}

.foto img {
    width: 100%;
    display: block;
    border-radius: 8px;
}