body {
    font-family:'JetBrains Mono';
    background-color: rgb(241, 241, 241);
}

.teks {
    font-family:'Arial, Helvetica, sans-serif';
    font-size:'medium';
}

.foto {
    position: center;
    border: 2px solid black;
    border-right-style: 20px;
    border-radius: 10px;
}