body {
    font-family:'JetBrains Mono';
    background-color: rgb(241, 241, 241);
}

html {
    scroll-behavior: smooth;
}

.kopi{
    text-align: center;
}

.teks {
    font-size: 12px;
}


.foto {
    margin: auto;
    border: 3px solid black;
    border-width: 2px;
    border-radius: 10px;
    width: 8cm;
}

.foto img {
    width: 100%;
    display: block;
    border-radius: 8px;
}